# When making changes to this file update environment.yml also !!

gracefulkiller
matplotlib
mausy5043-common==2.1.1
# already delivered by mausy5043-common, so no version here:
numpy

pandas
pylywsdxx
requests
sh
