# When making changes to this file update environment.yml also !!

gracefulkiller~=0.4
matplotlib~=3.10
mausy5043-common==1.10.1
numpy~=2.2
pandas~=2.2
pyarrow~=18.1
pylywsdxx==2.4.3
requests~=2.32
sh~=2.1
