# This service is for killing bluepy-helper when it hangs

[Unit]
Description=bluepy-helper-killer service
After=multi-user.target

[Service]
Type=simple
User=pi
# ExecStartPre=/bin/sleep 20
ExecStart=/home/pi/kimnaty/bin/helper-killer
RestartSec=360s
Restart=on-failure
TimeoutStopSec=90

[Install]
WantedBy=multi-user.target
