# This timer is for triggering updates of the repository clone

[Unit]
Description=daily kimnaty update
# also trigger at boot:
Requires=kimnaty.update.service

[Timer]
OnCalendar=*-*-* 04:00
RandomizedDelaySec=3m

[Install]
WantedBy=timers.target
