# This service is for trending data from the past month(s)

[Unit]
Description=trending data from past month (service)
Wants=kimnaty.trend.month.timer

[Service]
Type=oneshot
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
ExecStart=/home/pi/kimnaty/bin/pastmonth.sh -
