# This service is for starting the kimnaty telemetry reader

[Unit]
Description=rooms RH/T telemetry service
After=multi-user.target

[Service]
Type=simple
User=pi
# ExecStartPre=/bin/sleep 20
ExecStart=/home/pi/kimnaty/bin/kimnaty.py --start
RestartSec=360s
Restart=on-failure

[Install]
WantedBy=multi-user.target
