# This service is for starting the kimnaty telemetry reader

[Unit]
Description=rooms RH/T telemetry service
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStartPre=/home/pi/kimnaty/kimnaty --boot
ExecStart=/home/pi/kimnaty/bin/kimnaty.py --start
RestartSec=360s
Restart=on-failure
# Be patient:
TimeoutStopSec=900

[Install]
WantedBy=multi-user.target
