# This timer is for triggering the trending of past days data

[Unit]
Description=regularly trending data from past month (timer)

[Timer]
OnCalendar=*-*-* *:06
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
