# This timer is for triggering the trending of past day(s) data

[Unit]
Description=hourly trending data from past day (timer)

[Timer]
OnCalendar=*-*-* *:01,11,21,31,41,51
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
